<!DOCTYPE html>
<html lang="fr">
<head>
  {% include "head-common.njk" %}
  <title>{{ pageTitle or title }}</title>
  <meta name="description" content="{{ description }}" />
  {% if noindex %}<meta name="robots" content="noindex, nofollow" />{% endif %}
</head>
<body>
  <div id="site-header"></div>
  {{ content | safe }}
  <div id="site-footer"></div>
  <script src="/includes.js"></script>
</body>
</html>